/.vs

/GPRTestBase/obj
/GPRTestBase/bin

/GenericMathUtilities/obj
/GenericMathUtilities/bin
/GenericMathUtilities.Tests/obj
/GenericMathUtilities.Tests/bin

/ModularArithmetic/obj
/ModularArithmetic/bin
/ModularArithmetic.Tests/obj
/ModularArithmetic.Tests/bin

/EllipticCurvesMath/obj
/EllipticCurvesMath/bin
/EllipticCurvesMath.Tests/obj
/EllipticCurvesMath.Tests/bin
